//CSS for items over Image
@import "cssOverImage";

//CSS for movie description
@import "description";

//CSS for admin page
@import "adminPage";

//CSS for addMovie
@import "addMovie";

//CSS for admin movies and add to schedule
@import "adminMovies";

.element {
    width: 30%;
    height: 40%;
    background-color: red;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 3%;
}

.all {
    background-color: blue;
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    height: 100%;
    flex-direction: column;
}

.card-title {
    text-align: center;
}

.over18 {
    text-align: right;
    display: inline;
    margin-left: 5%;
}

.duration {
    right: 5%;
    position: absolute;
}

.ticket {
    left: 5%;
    position: absolute;
}

.card-footer {
    padding-right: 0%;
    padding-left: 0%;
    padding-bottom: 0%;
}

.card-body {
    padding-top: 2%;
    padding-bottom: 2%;
}

.uSredini {
    text-align: center;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

.title {
    text-align: center;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    background-color: grey;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: black;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin-bottom: 2%;
    border: 2px solid black;
}
