#container {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

#left {
    background-color: grey;
    width: 45%;
    float: left;
    height: 300px;
    font-size: 800%;
    margin-left: 5%;

    //borders
    border-left: 1px solid #696969;
    border-top: 1px solid #696969;
    border-bottom: 1px solid #696969;
    border-right: 0.5px solid #696969;

    //align items in center
    justify-content: center;
    display: flex;
    align-items: center;
}

#right {
    background-color: grey;
    width: 45%;
    float: right;
    height: 300px;
    font-size: 800%;
    margin-right: 5%;

    //borders
    border-top: 1px solid #696969;
    border-bottom: 1px solid #696969;
    border-right: 1px solid #696969;
    border-left: 0.5px solid #696969;

    //align items in center
    justify-content: center;
    display: flex;
    align-items: center;
}

#right:hover {
    background-color: #c0c0c0;
    cursor: pointer;
}

#left:hover {
    background-color: #c0c0c0;
    cursor: pointer;
}
