#deleteAndEditButtons {
    text-align: center;
}

.addMovieForm {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    border: 2px solid black;
    text-align: center;
    background-color: grey;
}

.addMovieInput {
    background-color: #c0c0c0;
}

.dugme {
    background-color: #c0c0c0;
    margin-bottom: 1%;
}
